<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Jordan</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>

    <section id="header">
        <a href="#"><img src="imagenes/logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Inicio</a></li>
                <li><a href="/tienda">Tienda</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/acerca">Acerca de Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li id="lg-bag"><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="fas fa-times"></i></a>

            </ul>
        </div>

        <div id="mobile">
            <a href="#"><i class="fas fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa fa-outdent"></i>
        </div>
    </section>

    <section id="ofertas">
        <h4>Las mejores Ofertas</h4>
        <h2>Ofertas con grandes descuentos</h2>
        <h1>En todos los productos</h1>
        <p>Ahorre más con cupones de hasta un 70 % de descuento! </p>
        <button>Comprar Ahora</button>


    </section>

    <section id="caracteristicas" class="section-p1">
        <div class="fe-box">
            <img src="imagenes/caracteristicas/f1.png" alt="">
            <h6>Compras Online</h6>
        </div>
        <div class="fe-box">
            <img src="imagenes/caracteristicas/f2.png" alt="">
            <h6>Envios Gratis</h6>
        </div>
        <div class="fe-box">
            <img src="imagenes/caracteristicas/f3.png" alt="">
            <h6>Mayor Ahorro</h6>
        </div>
        <div class="fe-box">
            <img src="imagenes/caracteristicas/f4.png" alt="">
            <h6>Promociones</h6>
        </div>
        <div class="fe-box">
            <img src="imagenes/caracteristicas/f5.png" alt="">
            <h6>Insentivo Laboral</h6>
        </div>
        <div class="fe-box">
            <img src="imagenes/caracteristicas/f6.png" alt="">
            <h6>Soporte 24/7</h6>
        </div>

    </section>

    <section id="producto1" class="section-p1">
        <h2>Productos Destacados</h2>
        <p>Coleccion de Otoño-Invierno en prendas de vestir y calzado</p>
        <div class="pro-contenedor">
            <div class="pro">
                <img src="imagenes/productos/zap1.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>           
            <div class="pro">
                <img src="imagenes/productos/zap2.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Urbana Hombre Air Max Excee</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 439</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/zap3.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/zap4.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/zap5.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/zap6.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/zap7.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/zap8.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h4>Precios de locura!!</h4>
        <h2>Hasta un <span>80% de descuento</span> en productos seleccionados </h2>
        <button class="normal">Echar un vistazo</button>

    </section>

    <section id="producto1" class="section-p1">
        <h2>Productos Recien Llegados</h2>
        <p>Colección de zapatillas retro y clásicas</p>
        <div class="pro-contenedor">
            <div class="pro">
                <img src="imagenes/productos/retro1.png" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>AIR JORDAN RETRO 4 "BRED"/h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>           
            <div class="pro">
                <img src="imagenes/productos/retro2.png" alt="">
                <div class="des">
                    <span>Fila</span>
                    <h5>Zapatilla Urbana Hombre Air Max Excee</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 439</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/retro3.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/retro4.png" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/retro5.jpg" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/retro6.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/retro7.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="imagenes/productos/retro8.jpg" alt="">
                <div class="des">
                    <span>Nike</span>
                    <h5>Zapatilla Running Hombre Revolution 6</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>S/. 245</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Ofertas imperdibles</h4>
            <h2>Compra 2 o mas y obten mayor descuento</h2>
            <span>Lo mejor en moda urbana y clasica en venta</span>
            <button class="white">Chequealo</button>
        </div>        
        <div class="banner-box banner-box2">
            <h4>Mundo Timberland</h4>
            <h2>Nuevos ingresos</h2>
            <span>Lo mejor en moda urbana y clásica en venta</span>
            <button class="white">Colecciones</button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h4>Ventas de Temporada</h4>
            <h3>Coleccion de Invierno - 50% de descuento</h3>           
        </div>
        <div class="banner-box banner-box2">
            <h4>Nuevas colecciones en calzado</h4>
            <h3>Coleccion de Invierno - 50% de descuento</h3>           
        </div>
        <div class="banner-box banner-box3">
            <h4>Para Ellas</h4>
            <h3>Nuevas Tendencias en Ropa y Calzado</h3>           
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Suscribete al Boletín</h4>
            <p>Recibe en tu E-mail acerca sobre lo ultimo en tienda y <span>ofertas especiales.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Tu direccion de Email" name="email">
            <button class="normal">Inscribirse</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="imagenes/logo.png" alt="">
            <h4>Contacto</h4>
            <p><strong>Dirección: </strong> Ca. Icaro Mz. k Lt. 6 - Urb. La Campiña, Chorrillos</p>
            <p><strong>Telefono: </strong> +51 930112253 </p>
            <p><strong>Horario: </strong> 09:00 a 18:00, Lunes a Sábado</p>
            <div class="follow">
                <h4>Síguenos</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>Acerca de</h4>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Información sobre delivery</a>
            <a href="#">Políticas de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Contáctanos</a>
        </div>

        <div class="col">
            <h4>Mi Cuenta</h4>
            <a href="#">Iniciar Sesión</a>
            <a href="#">Ver Carrito</a>
            <a href="#">Mi lista de deseos</a>
            <a href="#">Rastrear mi pedido</a>
            <a href="#">Ayuda</a>
        </div>

        <div class="col install">
            <h4>Instalar Aplicación</h4>
            <p>Desde Google Playstore o App Store</p>
            <div class="row">
                <img src="imagenes/app.jpg" alt="">
                <img src="imagenes/play.jpg" alt="">
            </div>
            <p>Pasarelas de pago seguras</p>
            <img src="imagenes/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>© 2023, Importaciones Jordan Pauca</p>
        </div>

    </footer>  

    <script src="/javascripts/script.js"></script>
</body>

</html>