<footer class="section-p1">
    <div class="col">
        <img class="logo" src="imagenes/logo.png" alt="">
        <h4>Contacto</h4>
        <p><strong>Dirección: </strong> Ca. Icaro Mz. k Lt. 6 - Urb. La Campiña, Chorrillos</p>
        <p><strong>Telefono: </strong> +51 930112253 </p>
        <p><strong>Horario: </strong> 09:00 a 18:00, Lunes a Sábado</p>
        <div class="follow">
            <h4>Síguenos</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Acerca de</h4>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Información sobre delivery</a>
        <a href="#">Políticas de privacidad</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Contáctanos</a>
    </div>

    <div class="col">
        <h4>Mi Cuenta</h4>
        <a href="#">Iniciar Sesión</a>
        <a href="#">Ver Carrito</a>
        <a href="#">Mi lista de deseos</a>
        <a href="#">Rastrear mi pedido</a>
        <a href="#">Ayuda</a>
    </div>

    <div class="col install">
        <h4>Instalar Aplicación</h4>
        <p>Desde Google Playstore o App Store</p>
        <div class="row">
            <img src="imagenes/app.jpg" alt="">
            <img src="imagenes/play.jpg" alt="">
        </div>
        <p>Pasarelas de pago seguras</p>
        <img src="imagenes/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2023, Importaciones Jordan Pauca Laos</p>
    </div>

</footer> 