<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Suscribete al Boletín</h4>
        <p>Recibe en tu E-mail acerca sobre lo ultimo en tienda y <span>ofertas especiales.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Tu direccion de Email">
        <button class="normal">Inscribirse</button>
    </div>
</section>